<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__list">
      <!-- SHOP NAVIGATION -->
      <li class="main-header__listItem">
        <a href="/?page=1" class="<%= path === '/' ? 'active' : '' %>">Shop</a>
      </li>
      <li class="main-header__listItem">
        <a href="/products?page=1" class="<%= path === '/products' ? 'active' : '' %>"
          >Products</a
        >
      </li>
      
      
      <% if(isAuthenticated){ %>

        <li class="main-header__listItem">
          <a href="/cart" class="<%= path === '/cart' ? 'active' : '' %>">Cart</a>
        </li>
        <li class="main-header__listItem">
        <a href="/orders" class="<%= path === '/orders' ? 'active' : '' %>"
          >Orders</a
        >
      </li>

        <!-- ADMIN NAVIGATION -->

        <li class="main-header__listItem">
          <a
            href="/admin/add-products"
            class="<%= path === 'admin/add-products' ? 'active' : '' %>"
            >Add Products</a
          >
        </li>
        <li class="main-header__listItem">
          <a
            href="/admin/admin-products"
            class="<%= path === 'admin/admin-products' ? 'active' : '' %>"
            >Admin Products</a
          >
        </li>
      
      <% } %>
    </ul>

    <!-- AUTHENTICATION -->

    <ul class="main-header__loginList">
      <% if(!isAuthenticated){ %>
      <li class="main-header__listItem">
        <a href="/signup" class="<%= path === '/signup' ? 'activeLogin' : ''%>">Sign Up</a>
      </li>
      <li class="main-header__listItem">
        <a href="/login" class="<%= path === '/login' ? 'activeLogin' : ''%>">Login</a>
      </li>
      <% } else { %>
      <li class="main-header__listItem">
        <form action="/logout" method="post" class="main-header__logoutForm">
          <input type="text" name="_csrf" value="<%= csrfToken %>" class="offPage">
          <button>Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
