<%- include("../includes/start.ejs")%>
<body>
    <%- include("../includes/navigation.ejs")%>
    <main class="main">
        <% if(error){ %>
            <div class="user-message user-message--error"><%= error %></div>
        <% } %>
        <section class="main__section">
            <form action="/create-new-password" method="post" class="main__form">
                <label for="newPassword">New Password : </label>
                <input class="main__form__input" type="password" name="newPassword" placeholder="enter new password" id="newPassword">
                <label for="confirmNewPassword">Confirm New Password : </label>
                <input class="main__form__input" type="password" name="confirmNewPassword" placeholder="re-enter your new password" id="confirmNewPassword">
                <input type="text" name="_csrf" value="<%= csrfToken %>" class="offPage">
                <input type="text" name="userId" value="<%= userId %>" class="offPage">
                <input type="text" name="token" value="<%= token %>" class="offPage">
                <button type="submit" class="main__form__btn">Create New Password</button>
            </form>
        </section>
    </main>
</body>
<%- include("../includes/end.ejs")%>