<%- include("../includes/start.ejs")%>
<body>
    <%- include("../includes/navigation.ejs")%>
    <main class="main">
        <% if(error){ %>
            <div class="user-message user-message--error"><%= error %></div>
        <% } %>
        <section class="main__section">
            <form action="/login" method="post" class="main__form">
                <label for="email">Email : </label>
                <input class="main__form__input <%= errorCause.includes('email') ? 'errorInput' : null %>" type="email" name="email" placeholder="eg: example@gmail.com" id="email" value="<%= previousInfo.email %>">
                <label for="password">Password : </label>
                <input class="main__form__input <%= errorCause.includes('password') ? 'errorInput' : null %>" type="password" name="password" placeholder="enter your password" id="password" value="<%= previousInfo.password %>">
                <input type="text" name="_csrf" value="<%= csrfToken %>" class="offPage">
                <button type="submit" class="main__form__btn">Login</button>
            </form>
        </section>
        <div class="resetPassword">
            <a href="/reset-password">Forgot Password</a>
        </div>
    </main>
</body>
<%- include("../includes/end.ejs")%>

