<%- include("../includes/start.ejs")%>
<body>
    <%- include("../includes/navigation.ejs")%>
    <main class="main">
        <% if(error){ %>
            <div class="user-message user-message--error"><%= error %></div>
        <% } %>
        <section class="main__section">
            <form action="/signup" method="post" class="main__form" novalidate>
                <label for="email">Email : </label>
                <input class="main__form__input <%= errorCause.includes('email') ? 'errorInput' : null %>" type="email" name="email" placeholder="eg: example@gmail.com" id="email" value="<%= previousEmail %>">
                <label for="password">Password : </label>
                <input class="main__form__input <%= errorCause.includes('password') ? 'errorInput' : null %>" type="password" name="password" placeholder="enter your password" id="password" value="<%= previousPassword %>">
                <label for="confirmPassword">Confirm Password : </label>
                <input class="main__form__input <%= errorCause.includes('confirmPassword') ? 'errorInput' : null %>" type="password" name="confirmPassword" placeholder="re-enter your password" id="confirmPassword" value="<%= previousConfirmPassword %>">
                <input type="text" name="_csrf" value="<%= csrfToken %>" class="offPage">
                <button type="submit" class="main__form__btn">Sign Up</button>
            </form>
        </section>
    </main>
</body>
<%- include("../includes/end.ejs")%>