<%- include("../includes/start.ejs") %>
<body>
  <%-include("../includes/navigation.ejs")%>
  <main class="main">
    <% if (cartProducts.length) { %>
    <section class="main__section">
      <div class="cart">
        <div class="cart__totalPriceCon">
          <span class="cart__totalPrice">Total Price : $<%= totalPrice %></span>
        </div>
        <div class="cartItem__grid">
          <% cartProducts.map((prod) => { const {image, name, price, _id,
          qty} = prod %>
          <div class="cartItem__card">
            <div class="cartItem__img">
              <img src="<%= image %>" alt="<%= name %>" />
            </div>
            <div class="cartItem__info">
              <p class="cartItem__name"><%= name %></p>
              <p class="cartItem__price">$<%= price %></p>
              <p class="cartItem__qty">Quantity : <%= qty %></p>
            </div>
            <div class="cartItem__btnCon">
              <form
                action="/remove-from-cart/<%= _id %>"
                method="post"
                class="cartItem__btn"
              >
                <input type="text" name="_csrf" value="<%= csrfToken %>" class="offPage">
                <button>Remove from cart</button>
              </form>
            </div>
          </div>
          <% }) %>
        </div>
        <form action="/checkout" method="get">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="cart__orderBtn">Checkout</button>
        </form>
      </div>
    </section>
    <% } else { %>
    <p class="main__p">No products added to cart yet...</p>
    <% } %>
  </main>
</body>

<%- include("../includes/end.ejs") %>
