<%- include("../includes/start.ejs") %>
<body>
  <%-include("../includes/navigation.ejs")%>
  <main class="main">
    <% if (cartProducts.length) { %>
    <section class="main__section">
      <div class="cart">
        <div class="cart__totalPriceCon">
          <span class="cart__totalPrice">Total Price : $<%= totalPrice %></span>
        </div>
        <div class="cartItem__grid">
          <% cartProducts.map((prod) => { const {image, name, price, _id,
          qty} = prod %>
          <div class="cartItem__card">
            <div class="cartItem__img">
              <img src="<%= image %>" alt="<%= name %>" />
            </div>
            <div class="cartItem__info">
              <p class="cartItem__name"><%= name %></p>
              <p class="cartItem__price">$<%= price %></p>
              <p class="cartItem__qty">Quantity : <%= qty %></p>
            </div>
          </div>

          <% }) %>
        </div>
        <button id="order-btn" class="cart__orderBtn">Order</button>
        <script defer>
          const orderBtn = document.getElementById("order-btn")
          orderBtn.addEventListener("click", function() {
            window.location = "<%= stripeUrl %>"
          })
        </script>
      </div>
    </section>
    <% } else { %>
    <p class="main__p">No products added to cart yet...</p>
    <% } %>
  </main>
</body>

<%- include("../includes/end.ejs") %>
