<%- include("../includes/start.ejs") %>
<body>
  <%-include("../includes/navigation.ejs")%>
  <main class="main">
    <section class="main__section">
      <% const {image, name, price, _id} = product %>
      <div class="itemDetails__card">
        <div class="itemDetails__img">
          <img src="<%= image %>" alt="<%= name %>" />
        </div>
        <div class="itemDetails__info">
          <p class="itemDetails__name"><%= name %></p>
          <p class="itemDetails__price">$<%= price %></p>
        </div>
        <% if(isAuthenticated){ %>
          <form
            action="/add-to-cart/<%= _id %>"
            method="get"
            class="item__btn"
          >
            <input type="text" name="_csrf" value="<%= csrfToken %>" class="offPage">
            <button>Add to Cart</button>
          </form>
        <% } %>
      </div>
    </section>
  </main>
</body>

<%- include("../includes/end.ejs") %>
