<%- include("../includes/start.ejs") %>
<body>
  <%-include("../includes/navigation.ejs")%>
  <main class="main">
    <% if (orders.length) {  %>
        <section class="main__section">
          <div class="order__flex">
            <% orders.map(order => { %>
              <div class="order__card">
                <h3 class="order__id">Order ID : <%= order._id %></h3>
                <a href="/orders/<%= order._id %>" class="order__invoice">Invoice</a>
                <h5 class="order__totalPrice">Total Price : $<%= order.totalPrice %></h5>
                <% order.items.map(item => { %>
                  <div class="order__item">
                    <p class="order__itemInfo">Product Info : <%= item.name %> (<%= item.qty %>)</p>
                  </div>
                <% }) %>
              </div>
          <% }) %>
          </div>
          
        </section>
    <% } else { %>
        <p class="main__p">No orders yet</p>
    <% } %>
    
  </main>
</body>

<%- include("../includes/end.ejs") %>
